option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: STG-Backend
    APP_HOST: apk.sokrio.com
    APP_URL: sokrio-stg.ap-southeast-1.elasticbeanstalk.com
    APP_NAME: Sokrio-Backend-Staging
    APP_KEY: "base64:AlEzTYCKTurhUVE1rJfFLvB9Fp6rJRRWKuAh2kJ6IEk="
    APP_DEBUG: true

    LOG_CHANNEL: stack

    DB_CONNECTION: tenant
    DB_HOST: sokrio.mysql.database.azure.com
    DB_PORT: 3306
    DB_USERNAME:
    DB_PASSWORD:

    LANDLORD_DB_CONNECTION: landlord
    LANDLORD_DB_DATABASE: forge
    LANDLORD_DB_HOST: sokrio.mysql.database.azure.com
    LANDLORD_DB_PORT: 3306
    LANDLORD_DB_USERNAME:
    LANDLORD_DB_PASSWORD:

    BROADCAST_DRIVER: log
    CACHE_DRIVER: file
    QUEUE_CONNECTION: sync
    SESSION_DRIVER: cookie
    SESSION_LIFETIME: 120

    REDIS_HOST: redis
    REDIS_CLIENT: phpredis
    REDIS_PASSWORD: null
    REDIS_PORT: 6379

    DO_SPACES_KEY:
    DO_SPACES_SECRET:
    DO_SPACES_ENDPOINT:
    DO_SPACES_REGION:
    DO_SPACES_BUCKET:
    DO_URL:

    SANCTUM_STATEFUL_DOMAINS: '*.apk.sokrio.com'
    SESSION_DOMAIN: .apk.sokrio.com
    RESERVED_SUBDOMAINS: base|staging|sokrio_wp|sokrio_office|sokrio|forge|crmdemo|apk
    ASSET_URL: https://frontend-postgresql.d3th4b87mcxb6t.amplifyapp.com

    ADMIN_MAIL:
    ADMIN_SECRET:
    SENTRY_LARAVEL_DSN:
