container_commands:
  01_copy_php_fpm_conf_files:
    command: "cp .ebextensions/www.conf /etc/php-fpm.d/www.conf"
container_commands:
  02_copy_nginx_files:
    command: "cp .ebextensions/sokrio-staging.nginx.conf /etc/nginx/sites-available/default"
container_commands:
  03_copy_supervisor_files:
    command: "cp .ebextensions/worker.sokrio-staging.conf /etc/supervisord.d/"
container_commands:
  04_copy_crontab_files:
    command: "cp .ebextensions/crontab /etc/crontab"
